  <!-- Footer -->
  <footer class="page-footer">
    <p>Made with ❤️</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/js/mood.js"></script>
  <script src="/js/liveDate.js"></script>

</body>

</html>