<!-- Left big box -->
<section class="part menu-bar">
  <div class="categories-top">
    <div class="menu user-info">
      <div class="rounded-profile-pic">
        <span class="firstUsrLetter"
          ><%=userName.slice(0,1).toUpperCase()%></span
        >
      </div>
      <div class="user-name"><%=userName%></div>
      <div class="UserStreakDays">12 day streak!</div>
    </div>
    <div class="menu categories">
      <div class="journal">
        <a href="/Journal">
          <img class="menu-image" src="/images/journal-unselected.png" />
          <span>Journal</span>
        </a>
      </div>
    </div>
    <div class="menu categories">
      <div class="statistics">
        <a href="/Statistics">
          <img class="menu-image" src="/images/statistics-unselected.png" />
          <span>Statistics</span>
        </a>
      </div>
    </div>
  </div>
  <div class="categories-bottom">
    <div class="menu categories">
      <div class="settings">
        <a href="/Settings">
          <img class="menu-image" src="/images/settings-unselected.png" />
          <span>Settings</span>
        </a>
      </div>
    </div>
    <div class="menu categories">
      <div class="logout">
        <a href="/logout">
          <img class="menu-image" src="/images/logout-unselected.png" />
          <span>Logout</span>
        </a>
      </div>
    </div>
  </div>
</section>
