<!-- Left big box -->
<section class="part menu-bar">
  <div class="categories-top">
    <div class="menu user-info">
      <div class="rounded-profile-pic">
        <span class="firstUsrLetter"
          ><%=userName.slice(0,1).toUpperCase()%></span
        >
      </div>
      <div class="user-name"><%=userName%></div>
      <div class="UserStreakDays">12 day streak!</div>
    </div>
    <div class="leftMenu-divider"></div>
    <div class="menu categories first-cat active">
      <a class="journal" href="/Journal">
        <img class="menu-image" src="/images/journal-selected.png" />
        Journal
      </a>
    </div>
    <div class="menu categories">
      <a class="statistics" href="/Statistics">
        <img class="menu-image" src="/images/statistics-unselected.png" />
        Statistics
      </a>
    </div>
  </div>
  <div class="categories-bottom">
    <div class="leftMenu-divider"></div>
    <div class="menu categories">
      <a class="settings" href="/Settings">
        <img class="menu-image" src="/images/settings-unselected.png" />
        Settings
      </a>
    </div>
    <div class="menu categories">
      <a class="logout" href="/logout">
        <img class="menu-image" src="/images/logout-unselected.png" />
        Logout
      </a>
    </div>
  </div>
</section>
