<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
      />
      <!-- <link rel="stylesheet" href="/styles/login.css" /> -->
      <link rel="stylesheet" href="/styles/auth.css" />

      <!-- <link rel="stylesheet" href="/styles/content.css"> -->
      <title>Daily Tracker</title>
    </head>
  </head>
  <body>
    <div class="signup-wrap">
      <div class="left-panel">
        <div class="brand">
          <div class="brand-name">Daily Tracker<br /></div>
          <p class="brand-sub">
            Your personal space to reflect,<br />track, and grow.
          </p>
        </div>
        <div class="left-bottom">
          <div class="testimonial">
            <p class="testimonial-text">
              "Writing about my day changed how I see it. This app made it a
              habit."
            </p>
            <p class="t-author">— Justin</p>
          </div>
        </div>
      </div>

      <div class="right-panel">
        <div class="form-wrapper">
          <div class="login-titles">
            <h4>WELCOME BACK</h4>
            <h1>
              Sign in to your
              <span class="journalTxt">journal</span>
            </h1>
          </div>

          <div class="login-form-container">
            <% if (error) { %>
              <p class="error-message"><%= error %></p>
            <% } %>
            <form method="POST" action="/login" class="login-fillin-boxes">
              <div class="form-group">
                <label class="form-label">Email</label>
                <input
                  name="email"
                  id="email"
                  class="form-input"
                  placeholder="Enter email"
                />
              </div>

              <div class="form-group">
                <label class="form-label">password</label>
                <input
                  name="password"
                  type="password"
                  id="password"
                  class="form-input"
                  placeholder="Enter password"
                />
              </div>

              <button type="submit" class="login-btn">Sign In</button>
            </form>
            <div class="divider">
              <div class="divider-line"></div>
              <span class="divider-text">or</span>
              <div class="divider-line"></div>
            </div>
            <p class="signup-row">
              Don't have an account? <a href="/signup">Create one</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/js/login.js"></script>
</html>
